* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  padding-bottom: 350px;
}

#keyCode {
  font-size: 200px;
}

body {
  background: linear-gradient(180deg, lightskyblue, #0377fc) no-repeat center
    fixed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}

p {
  padding: 20px;
  font-size: 25px;
}

.box {
  background-color: #cedded;
  border: 1px solid lightslategrey;
  box-shadow: 3px 3px 4px lightslategrey;
  font-size: 18px;
  display: inline-flex;
  padding: 20px;
  margin: 25px;
  font-weight: bold;
  flex-direction: column;
  min-width: 250px;
  position: relative;
}
